# Welcome To Cameron's Notebook



# In this book we will be running over the basics in python with lessons by Mattia and the Python Crash Course Book




### In this book, there will be a title, in which there will be subheadings and following certain code cells, will be an explanation of what is happening in the cell. At the end of each chapter, there will be a task I have done myself and then some take away points to consider!

# Chapter 2 Variables and Simple Data Types

### Variables

In [1]:
print("Hello")

Hello

In [1]:
message = "Hello Cameron, this is the variable message"
print(message)

hello Cameron, this is the variable message

> We are assinging a value to the variable "message"

In [3]:
message = "Hello Cameron, this is the variable message"
print(message)

message = "Hello again Cameron, this is still the variable message, but I am showing variable 'values' can be updated"
print(message)

Hello Cameron, this is the variable message
Hello again Cameron, this is still the variable message, but I am showing variable 'values' can be updated

> Variables and their corresponding values can be updated and python will keep a track of them as we code

In [4]:
message = "In this cell we are trying to throw an error"
print(mesage)

NameError: name 'mesage' is not defined

>First it shows us the error type 'NameError'.
Then it shows us where the error is taking place 'message'.
A name error means we have most likely forgotten to set a value or misspelt the varible we are calling in our code.
Python will not spell check our code, but it must be spelled constistently.

### Task

In [7]:
message = "Hello reader, this is Camerons Jupyter Notebook"
print(message)

Hello reader, this is Camerons Jupyter Notebook

In [8]:
message = "Hello reader, this is Camerons Jupyter Notebook"
print(message)

message = "Hello reader, this is an update of the 'value' of the message varibale"
print(message)

Hello reader, this is Camerons Jupyter Notebook
Hello reader, this is an update of the 'value' of the message varibale

### Take Aways

- Variables are like stickers we tag onto values in python, a varibale will reference a certain value 
- Variable names can only contain letters, numbers and underscores
- Not allowed to use spaces in varibale names, instead we use underscores 
- Dont use python keywords as variables, this will be VERY confusing to read and code 
- Keep variable names short but descriptive

### Strings

In [1]:
name = "cameron wheeler"

print(name.title())

Cameron Wheeler

> Title is the method of the variable name, a method allows Python to act on some data and the dot  .  tells python to make name a title where each word starts with a capital

In [12]:
first_name = "cameron"
last_name = "wheeler"
full_name = (f"{first_name} {last_name}")

print(f'{first_name} {last_name}')
print(f'Hello, {full_name.title()}!')

cameron wheeler
Hello, Cameron Wheeler!

In [13]:
dog = "tilda"
mum = "lynda" 
dad = "mark" 
brother = "angus" 
family = (f'{dog} {mum} {dad} {brother}')

print(family.title())

Tilda Lynda Mark Angus

> Here we are inserting varibles into a string using the f' string, this can be used on any kind of varible to insert it into a string we want to print out.

In [25]:
print("Python")
print("\tPython")

print("\n")



print("Languages\nPython\nC+")

print("\n")

print("Languages\n\tPython\n\tC+\n\tJavaScript")

Python
	Python


Languages
Python
C+


Languages
	Python
	C+
	JavaScript

> Here we are using the \t character combination to place indents into the text. 
> Character combination \n creates a new line in the text, sort of like hitting enter :)

In [34]:
best_language = "Python   "
print(best_language)
best_language = best_language.strip()
best_language
print(best_language)

Python
Python

> using the method strip() removes the white space behind the string that we dont want, this is becuase although we dont see it as important, python will associate that white space as part of the variable. Using strip() removes the whitespace but only temporarily, to remove it permenantly, we have to assign the stripped verison to the variable itself. You can remove space from the left or the right using lstrip() or rstrip().


> click next to the code to "see the gap"

### Task

In [5]:
name = "Eric"

print(f'Hello {name}')

Hello Eric

In [10]:
name = "Cameron"

print(f'{name.upper()}')
print(f'{name.lower()}')
print(f'{name.title()}')

CAMERON
cameron
Cameron

In [16]:
name = "Alan Turing"
quote = '"Sometimes it is the people no one can imagine anything of who do the things no one can imagine."'

print(f'{name} once said {quote.lower()}')

Alan Turing once said "sometimes it is the people no one can imagine anything of who do the things no one can imagine."

In [27]:
name = "   Alan Turing  "
quote = '"sometimes it is the people no one can imagine anything of who do the things no one can imagine."       '

print(f'{name.strip()} once said {quote.strip()}')

Alan Turing once said "sometimes it is the people no one can imagine anything of who do the things no one can imagine."

### Take Aways

- To add strings into variables we use f' strings
-  an /n and /t are used to add a new line and a tab respectively

### Numbers

This is how python will handle integers, it also works similarly with floats. But sometimes it can be complicated when using floats, we will learn about this later on however.

In [3]:
1 + 1

2

In [4]:
2 * 2

4

In [5]:
5 - 2

3

In [6]:
6 / 2

3.0

> It is worth noting that when we divide we will always get a float back, or if you mix an integer with a float you will get a float back

In [9]:
2.0 + 2

4.0

In [10]:
2.0 * 2

4.0

In [11]:
4.0 - 3

1.0

> You can use underscores to make really large numbers more readable, this will not effect the code when printed, but when reading the code it could be.

In [12]:
universe_age = 14_000_000

print(universe_age)

14000000

In [14]:
x, y, z = 1000, 10, 1

print(x)
print(y)
print(z)
print(x, y, z)

1000
10
1
1000 10 1

In [17]:
brother, mum, dad, dog = "Angus", "Lynda", "Mark", "Tilda"

print(brother)
print(mum)
print(dad)
print(dog)
print(brother, mum, dad, dog)

Angus
Lynda
Mark
Tilda
Angus Lynda Mark Tilda

> We can assign multiple variables in the same line, this will help us make our code more understandable. Note we must seperate our variables and their values with commas (,)

In [19]:
CONSTANT = 33

print(CONSTANT)

33

> When we make a constant varible (one that will not change throughout the code) we use capital letters.

### Task

In [22]:
print(4 + 4)
print(10 - 2)
print(4 * 2)
print(16 / 2)

8
8
8
8.0

In [23]:
my_fav_number = 13

# This is a comment  

print(my_fav_number)

13

### Take Aways

- We can assign multiple variables in the same line, but we must include a comma 
- Underscores can be used to make numbers easier to read, and won't affect the code 
- Constant variables are defined with CAPITAL LETTERS

### The Zen Of Python

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Chapter 3 Introducing Lists

In [5]:
computer_companies = ["Apple", "Microsoft", "Dell", "Razer"]

print(computer_companies)
print(computer_companies[0])
print(computer_companies[1])
print(computer_companies[3])

['Apple', 'Microsoft', 'Dell', 'Razer']
Apple
Microsoft
Razer

In [10]:
computer_companies = ["Apple", "Microsoft", "Dell", "Razer", "Nvidia"]

computer_companies[0].lower
print(computer_companies[0].title())
print(computer_companies[-1])

Apple
Nvidia

> We can put anything in a list, not just numbers. We can print a whole list, but this isnt what we want to show the user. We can also print specific elements in the list. REMEBER it starts with 0. The position in a list in which an element is in is called and index.

> We can edit elements using the lower and title methods like we used before

> [-1] means the last element in the list, this is a special python syntax for acessing the last element in the list, this also works for [-2] and [-3] and so on. This is really helpful when acessing the last element in a list when we don't know how long the list will be.

In [3]:
computer_companies = ["Apple", "Microsoft", "Dell", "Razer", "Nvidia"]

message = (f'My first laptop from was {computer_companies[0]}.')

print(message)

My first laptop from was Apple.

> We can use f strings with elements in a list just like we would any variable

### Tasks

In [5]:
friends = "Charlie", "Ben", "Tom", "Angus"

print(friends[0])
print(friends[1])
print(friends[2])
print(friends[3])

Charlie
Ben
Tom
Angus

In [16]:
friends = "Charlie", "Ben", "Tom", "Angus"

message = (f'Hello {friends[0]} this is my coding exercise and I am writing a message to you.')

print(message)

Hello Charlie this is my coding exercise and I am writing a message to you.

In [19]:
computer_companies = ["Apple", "Microsoft", "Dell", "Razer", "Nvidia"]

what_to_buy = (f'I am looking to buy a new laptop, after some research I have decided I want a {computer_companies[0]} laptop because it will work the best for me.')

print(what_to_buy)

I am looking to buy a new laptop, after some research I have decided I want a Apple laptop because it will work the best for me.

### Editing Elements In A List

In [20]:
computer_companies = ["Apple", "Microsoft", "Dell", "Razer", "Nvidia"]
print(computer_companies)

computer_companies[2] = "AMD"
print(computer_companies)

['Apple', 'Microsoft', 'Dell', 'Razer', 'Nvidia']
['Apple', 'Microsoft', 'AMD', 'Razer', 'Nvidia']

> Here we are assigning AMD over Dell as the 3rd element in the list, remeber that a list starts with 0.

In [21]:
computer_companies = ["Apple", "Microsoft", "Dell", "Razer", "Nvidia"]

computer_companies.append("AMD")

print(computer_companies)

['Apple', 'Microsoft', 'Dell', 'Razer', 'Nvidia', 'AMD']

> Here we are appeninding AMD to the end of the list, whenever we append an element to a list it will always be at the end no matter what.

In [22]:
computer_companies = []

computer_companies.append("Apple")
computer_companies.append("Dell")
computer_companies.append("AMD")

print(computer_companies)

['Apple', 'Dell', 'AMD']

> We can append things to an empty list as well

In [24]:
computer_companies = ["Apple", "Microsoft", "Dell", "Razer", "Nvidia"]

computer_companies.insert(0, "AMD")

print(computer_companies)

['AMD', 'Apple', 'Microsoft', 'Dell', 'Razer', 'Nvidia']

> Here we are using the 'insert' function to assign the element into a specific index in the list.

In [29]:
computer_companies = ["Apple", "Microsoft", "Dell", "Razer", "Nvidia"]

del computer_companies[1]

# Now the list will shrink so we cannot use 4 to look for nivida, we can use [-1] or 3, as the end of the list will shrink to 3. 

del computer_companies[3]

print(computer_companies)

['Apple', 'Dell', 'Razer']

> Here we are using the del statement to remove a specific element from the list when we KNOW its index in the list.  We cannot do this if we do not know where the element is placed inside the list. Once we use the del statement, we can no longer work with it anymore, if we want to remove it from a list but still be able to work with it we must use the pop() function.

In [30]:
computer_companies = ["Apple", "Microsoft", "Dell", "Razer", "Nvidia"]

popped_computers = computer_companies.pop()

print(computer_companies)
print(popped_computers)

['Apple', 'Microsoft', 'Dell', 'Razer']
Nvidia

> The pop() function removes the last element from a list, and allows us to work with it afterwards.

In [32]:
computer_companies = ["Microsoft", "Dell", "Razer", "Nvidia", "Apple"]

popped_computer_companies = (f'The first laptop I owned was an {computer_companies.pop()} laptop, I got it in 2015 but it broke so I now use an iPad.')

print(popped_computer_companies)

The first laptop I owned was an Apple laptop, I got it in 2015 but it broke so I now use an iPad.

> Note that when we use pop() it removes the item from the list and places it in the first f string we use, so we cannot repeat it, I orignially used {computer_companies.pop()} before iPad, expecting "Apple iPad" but the code returned Nvidea iPad as it had popped Nvida and stuck it there becuase Apple had been used already.

In [1]:
computer_companies = ["Apple", "Microsoft", "Dell", "Razer", "Nvidia"]

computer_companies_pop = computer_companies.pop(1)

print(computer_companies)
print(computer_companies_pop)

['Apple', 'Dell', 'Razer', 'Nvidia']
Microsoft

> We can use pop() and insert the index of the element in the list, again we must know the position, like del

In [5]:
computer_companies = ["Apple", "Microsoft", "Dell", "Razer", "Nvidia"]
gaming_laptop = "Razer"

computer_companies.remove(gaming_laptop)

print(f'I have decided to remove {gaming_laptop} from the list of choices, as they are primarily used for gaming')
print(f'Here is the list of laptops I can buy from for univeristy {computer_companies}')

I have decided to remove Razer from the list of choices, as they are primarily used for gaming
Here is the list of laptops I can buy from for univeristy ['Apple', 'Microsoft', 'Dell', 'Nvidia']

> We can use the remove() function to delete an element from the list when we don't know where it is positioned. Like pop() we can work with the element after we have removed it.

> So we have delete, pop and remove. All take items from a list, del gets rid of it, pop and remove store it for it to be used after.

### Tasks

In [8]:
dinner_invite = ["Alan", "Elon", "Dennis"]

invitation1 = (f' Hello {dinner_invite[0]} I would like to invite you to dinner.')
invitation2 = (f' Hello {dinner_invite[1]} I would like to invite you to dinner.')
invitation3 = (f' Hello {dinner_invite[2]} I would like to invite you to dinner.')

print(invitation1)
print(invitation2)
print(invitation3)

 Hello Alan I would like to invite you to dinner.
 Hello Elon I would like to invite you to dinner.
 Hello Dennis I would like to invite you to dinner.

In [11]:
dinner_invite = ["Alan", "Elon", "Dennis"]

# Elon has said he can not make it!

cannot_come = dinner_invite.pop(1)

dinner_invite.append("Steve")

# We shall invite Steve Jobs instead 

print(dinner_invite)

invitation1 = (f' Hello {dinner_invite[0]} I would like to invite you to dinner.')
invitation2 = (f' Hello {dinner_invite[1]} I would like to invite you to dinner.')
invitation3 = (f' Hello {dinner_invite[2]} I would like to invite you to dinner.')

print(invitation1)
print(invitation2)
print(invitation3)

['Alan', 'Dennis', 'Steve']
 Hello Alan I would like to invite you to dinner.
 Hello Dennis I would like to invite you to dinner.
 Hello Steve I would like to invite you to dinner.

In [16]:
dinner_invite = ["Alan", "Elon", "Dennis"]

# We have found a bigger table, so we can add more people to our invite list. 

dinner_invite.insert(0, "Tim")
# Inserting a new invite at the start of the list 

dinner_invite.insert(2, "McGowan")
dinner_invite.append("Padders")

print(dinner_invite)

invitation1 = (f' Hello {dinner_invite[0]} I would like to invite you to dinner.')
invitation2 = (f' Hello {dinner_invite[1]} I would like to invite you to dinner.')
invitation3 = (f' Hello {dinner_invite[2]} I would like to invite you to dinner.')
invitation4 = (f' Hello {dinner_invite[3]} I would like to invite you to dinner.')
invitation5 = (f' Hello {dinner_invite[4]} I would like to invite you to dinner.')
invitation6 = (f' Hello {dinner_invite[5]} I would like to invite you to dinner.')


print(invitation1)
print(invitation2)
print(invitation3)
print(invitation4)
print(invitation5)
print(invitation6)

['Tim', 'Alan', 'McGowan', 'Elon', 'Dennis', 'Padders']
 Hello Tim I would like to invite you to dinner.
 Hello Alan I would like to invite you to dinner.
 Hello McGowan I would like to invite you to dinner.
 Hello Elon I would like to invite you to dinner.
 Hello Dennis I would like to invite you to dinner.
 Hello Padders I would like to invite you to dinner.

In [43]:
dinner_invite = ['Tim', 'Alan', 'McGowan', 'Elon', 'Dennis', 'Padders']
removed_invite1 = dinner_invite.pop(1)
removed_invite2 = dinner_invite.pop(2)
removed_invite3 = dinner_invite.pop()
# No number as its the last element in the list

# We now only have space for 2, so need to remove people

print(f'Sorry {removed_invite1}, but we have run out of space, I will see you another time.')
print(f'Sorry {removed_invite2}, but we have run out of space, I will see you another time.')
print(f'Sorry {removed_invite3}, but we have run out of space, I will see you another time.')

print(f'Hello {dinner_invite[0]} see you at 8')
print(f'Hello {dinner_invite[1]} see you at 8')
print(f'Hello {dinner_invite[2]} see you at 8')


del dinner_invite[0]
del dinner_invite[0]
del dinner_invite[0]
# del is a function so there is no _ or . just a space

# Proving the list is empty
print(dinner_invite)

Sorry Alan, but we have run out of space, I will see you another time.
Sorry Elon, but we have run out of space, I will see you another time.
Sorry Padders, but we have run out of space, I will see you another time.
Hello Tim see you at 8
Hello McGowan see you at 8
Hello Dennis see you at 8
[]

### Organising A List

In [2]:
cars = ["tesla", "bmw", "audi", "ford", "dodge"]

cars.sort()

print(cars)

['audi', 'bmw', 'dodge', 'ford', 'tesla']

> Here we are using the sort() method, this allows us to sort the list alphabetically, this will be permanent so we cannot go back to the original list. Note that all the letters are in lower case.

In [3]:
cars = ["tesla", "bmw", "audi", "ford", "dodge"]

cars.sort(reverse=True)

print(cars)

['tesla', 'ford', 'dodge', 'bmw', 'audi']

> We have set reverse to be True, in the parenthesis of the function, again this is a permanent change, so we cannot go back to the list we had before.

In [8]:
cars = ["tesla", "bmw", "audi", "ford", "dodge"]

print(cars)
# Original List

print(sorted(cars))
# Using the sorted() function

print(sorted(cars, reverse=True))
# Using the reverse=True argument in the sorted function, like the sort function.

print(cars)

['tesla', 'bmw', 'audi', 'ford', 'dodge']
['audi', 'bmw', 'dodge', 'ford', 'tesla']
['tesla', 'ford', 'dodge', 'bmw', 'audi']
['tesla', 'bmw', 'audi', 'ford', 'dodge']

> Here we use the sorted() method, this method is a way of "presenting" the data of the list to the user in an organised list, but it holds the original as displayed on the code above. Sorted() also accepts the reverse=True argument in which we have the variable first, then we place the reverse arugment after, seperated by a comma.

> Note the sort() and the sorted() function are very similar, so make sure we know one is permanent, the other isn't.

In [12]:
cars = ["tesla", "bmw", "audi", "ford", "dodge"]

print(cars)

cars.reverse()
# Reversing the list, this is not alphabetical, just a switch around and in PERMANENT
print(cars)

['tesla', 'bmw', 'audi', 'ford', 'dodge']
['dodge', 'ford', 'audi', 'bmw', 'tesla']

> We are using the reverse function to swap the list round, reverse() is a permenant change, but we can always change it back by hitting it with another reverse function again.

In [13]:
cars = ["tesla", "bmw", "audi", "ford", "dodge"]

len(cars)

5

> Here the len() function allows us to find the length of the list, this is handy when looking at how much data we need to manage and visualise, or figuring out the number of users on a website

### Tasks

In [29]:
places_to_visit = ["switzerland", "usa", "canada", "australia", "japan"]

print(places_to_visit)
# Printing original list

print(sorted(places_to_visit))
# Displaying the list alphabetically

print(sorted(places_to_visit, reverse=True))
# Reversing the display of the list 

print(places_to_visit)
# Showing the original order of the list is still intact

places_to_visit.reverse()
print(places_to_visit)
# Reversing the list, altering it permenantly

places_to_visit.reverse()
print(places_to_visit)
# Swapping the list back to the original order

places_to_visit.sort()
print(places_to_visit)
# Using the sort function to change the order of the list

places_to_visit.sort(reverse=True)
print(places_to_visit)
# Reversing argument on the sort function

['switzerland', 'usa', 'canada', 'australia', 'japan']
['australia', 'canada', 'japan', 'switzerland', 'usa']
['usa', 'switzerland', 'japan', 'canada', 'australia']
['switzerland', 'usa', 'canada', 'australia', 'japan']
['japan', 'australia', 'canada', 'usa', 'switzerland']
['switzerland', 'usa', 'canada', 'australia', 'japan']
['australia', 'canada', 'japan', 'switzerland', 'usa']
['usa', 'switzerland', 'japan', 'canada', 'australia']

In [30]:
dinner_invite = ['Tim', 'Alan', 'McGowan', 'Elon', 'Dennis', 'Padders']

len(dinner_invite)
# Getting the length of the list

6

In [2]:
tech_companies = ["apple", "dell", "razor", "hp", "microsoft", "google", "philips"]

print(len(tech_companies))
# Length of the list

print(tech_companies)
# Original List

print(sorted(tech_companies))
print(sorted(tech_companies, reverse=True))
# Sorted() function, and Sorted(reverse)
print(tech_companies)
# Proof of original list 

tech_companies.reverse()
print(tech_companies)
tech_companies.reverse()
print(tech_companies)
# Reversing actual list, then reverting it back to original 

tech_companies.sort()
print(tech_companies)
# Sorting original list

7
['apple', 'dell', 'razor', 'hp', 'microsoft', 'google', 'philips']
['apple', 'dell', 'google', 'hp', 'microsoft', 'philips', 'razor']
['razor', 'philips', 'microsoft', 'hp', 'google', 'dell', 'apple']
['apple', 'dell', 'razor', 'hp', 'microsoft', 'google', 'philips']
['philips', 'google', 'microsoft', 'hp', 'razor', 'dell', 'apple']
['apple', 'dell', 'razor', 'hp', 'microsoft', 'google', 'philips']
['apple', 'dell', 'google', 'hp', 'microsoft', 'philips', 'razor']

### Take Aways

- Lists can be altered using several functions 
- Sort() function alters permenantly 
- Reverse() function alters permenatly 
- Sorted() is a display to the user and doesnt alter the original list 
- Sorted() also can accept the reverse arugment, again it does not alter the original list
- Len() shows us the length of the list where we are storing information

### Avoiding Errors While Working With Lists

In [2]:
computer_companies = ["Apple", "Microsoft", "Dell", "Razer", "Nvidia"]

print(computer_companies[5])

IndexError: list index out of range

> One of the most common errors when working with lists in and "index error", this is when we ask Python to find an index in a list that it not there. In the example above, we have asked Python to look for index 5, but there is no index 5. This is an "off by one error" that the book has been talking about. 

> If we run into Index errors we cannot seem the fix, try printing the list off, it might look different to what we think it looks like.

In [3]:
computer_companies = ["Apple", "Microsoft", "Dell", "Razer", "Nvidia"]

print(computer_companies[-1])

Nvidia

> Instead we can use "[-1]" to acess the last element in the list no matter what size it is.

### Take Aways

- Index errors often occur with lists 
- It is ususally because of the "off by one" rule 
- When we can't fix it, try printing the list off, as we might not know our list like we think we do

# Working With Lists

### For Loops

In [1]:
tech_companies = ["apple", "dell", "razor", "hp", "microsoft", "google", "philips"]

for company in tech_companies:
    print(company)

apple
dell
razor
hp
microsoft
google
philips

> For each of the element in the list, python runs through the list and for every company, it enters the loop and prints off the company

tech_companies = ["apple", "dell", "razor", "hp", "windows", "google", "philips"]

for company in tech_companies:
This tells python to go into the list tech_companies and assign the first element to the variable company, python then reads the next line.

print(company)
This tells pythong to print the variable assigned to company, on the first run this will be "apple"
Python, then goes into the list again and gets the second element "dell", and assigns that to the variable company then executes the line print(company)

when all the elements in the list have been printed, python has gone back and checked to see if there is another element, it finds nothing so it will move onto the next line of code. Since there is nothing after this code, the cell will terminate

In [16]:
tech_companies = ["apple", "dell", "razor", "hp"]

for company in tech_companies:
    print(f'{company.title()} is a tech company that makes many products')
    print(f' I look forward to seeing where {company.title()} takes their products \n')

Apple is a tech company that makes many products
 I look forward to seeing where Apple takes their products

Dell is a tech company that makes many products
 I look forward to seeing where Dell takes their products

Razor is a tech company that makes many products
 I look forward to seeing where Razor takes their products

Hp is a tech company that makes many products
 I look forward to seeing where Hp takes their products

> Every indent after the for loop will be run once each loop. It is also worth noting the inclusion of (\n) to create new lines in the code

### > REMEBER if our code is not working out like we want it to, ensure we have : or () in the correct places. A common error of mine is that I forget to add : or () which means the code usually bugs.

In [17]:
tech_companies = ["apple", "dell", "razor", "hp"]

for company in tech_companies:
    print(f'{company.title()} is a tech company that makes many products')
    print(f' I look forward to seeing where {company.title()} takes their products \n')
    
print("Although it must be said, I am most excited for Apple's products the most")

Apple is a tech company that makes many products
 I look forward to seeing where Apple takes their products

Dell is a tech company that makes many products
 I look forward to seeing where Dell takes their products

Razor is a tech company that makes many products
 I look forward to seeing where Razor takes their products

Hp is a tech company that makes many products
 I look forward to seeing where Hp takes their products

Although it must be said, I am most excited for Apple's products the most

> Once the for loop is finishing running, it runs the next line of code which is usually a summarization of the code we have been running. This will only be printed or used once as it is outside the for loop (look at the indentation in the code cell)

### Avoiding Indentation Errors

In [4]:
tech_companies = "apple", "dell", "microsoft"

for company in tech_companies:
print(company)

IndentationError: expected an indented block (4159255110.py, line 4)

> Python is expecting an indentation, when it doesn't get one it will throw an indendation error.

In [6]:
tech_companies = "apple", "dell", "microsoft"

for company in tech_companies:
    print(f'{company.title()} makes some good products')
print(f'I think I am going to buy a product from {company.title()}')

Apple makes some good products
Dell makes some good products
Microsoft makes some good products
I think I am going to buy a product from Microsoft

> Sometimes the code will run, but not in the way we want it to. This code isn't running the way we want it to because the second line is not indented. So it is only run once with the varible comopany which at that time will be Microsoft. This is called an "logical error", meaning our code isn't running the way we want it too, but it's not throwing an error. When our code is not running in a way we want it too, but it's still running, it's worth checking if all our indentations are correct.

In [11]:
tech_companies = "apple", "dell", "microsoft"

for company in tech_companies:
    print(f'{company.title()} makes some good products')
    print(f'I think I am going to buy a product from {company.title()}\n')

Apple makes some good products
I think I am going to buy a product from Apple

Dell makes some good products
I think I am going to buy a product from Dell

Microsoft makes some good products
I think I am going to buy a product from Microsoft

> Here is the code running correctly

In [8]:
fav_company = "Apple"
    print(fav_company)

IndentationError: unexpected indent (3009684490.py, line 2)

> Here python isn't expecting an indentation but we have given it one. So we get another indentation error with unexpected indent.

In [10]:
tech_companies = "apple", "dell", "microsoft"

for company in tech_companies:
    print(f'{company.title()} makes some good products')
    print(f'I think I am going to buy a product from {company.title()}\n')


    
    print('This is proof that an indentation is causing this text to be printed')

Apple makes some good products
I think I am going to buy a product from Apple

This is proof that an indentation is causing this text to be printed
Dell makes some good products
I think I am going to buy a product from Dell

This is proof that an indentation is causing this text to be printed
Microsoft makes some good products
I think I am going to buy a product from Microsoft

This is proof that an indentation is causing this text to be printed

> Here we have an indentation where it's not meant to be, but it throws a logical error so the code runs, just not like we want it to.........

In [12]:
tech_companies = "apple", "dell", "microsoft"

for company in tech_companies
    print(f'{company.title()} makes some good products')
    print(f'I think I am going to buy a product from {company.title()}\n')

SyntaxError: invalid syntax (2526624363.py, line 3)

> Here we have FORGOTTEN THE COLON at the end of the for loop command. This will result in a syntax error as python won't know what to do when it's running through the code.

### Tasks

In [13]:
best_pizza_toppings = "extra cheese", "pepperoni", "bbq"

for topping in best_pizza_toppings:
    print(topping)

extra cheese
pepperoni
bbq

In [15]:
best_pizza_toppings = "extra cheese", "pepperoni", "bbq"

for topping in best_pizza_toppings:
    print(f'I really like to eat {topping} pizza.\n')

I really like to eat extra cheese pizza.

I really like to eat pepperoni pizza.

I really like to eat bbq pizza.

In [17]:
best_pizza_toppings = "extra cheese", "pepperoni", "bbq"

for topping in best_pizza_toppings:
    print(f'I really like to eat {topping} pizza.\n')

print("I really like all of these types of pizza!")

I really like to eat extra cheese pizza.

I really like to eat pepperoni pizza.

I really like to eat bbq pizza.

I really like all of these types of pizza!

In [22]:
pets = "dogs", "cats", "fish"

for pet in pets:
    print(pet)

dogs
cats
fish

In [24]:
pets = "dogs", "cats", "fish"

for pet in pets:
    print(f'{pet.title()} can make great pets.')

Dogs can make great pets.
Cats can make great pets.
Fish can make great pets.

In [26]:
pets = "dogs", "cats", "fish"

for pet in pets:
    print(f'{pet.title()} can make great pets. \n')

print("Any of these animals will make great pets!")

Dogs can make great pets.

Cats can make great pets.

Fish can make great pets.

Any of these animals will make great pets!

### Numerical Lists

In [27]:
for num in range(1, 5):
    print(num)

1
2
3
4

> The "range" function allows us to generate a series of numbers. It outputs 1 to 4 as it will run the list up until it hits the last number in the list then it will stop. For the list to include 5, the range() would have to be range(1, 6)

In [31]:
numbers = list(range(1, 6))

print(numbers)

[1, 2, 3, 4, 5]

> If we want to make a list with a range on numbers included in the list, we can wrap a "list()" function around a "range()" function.

In [33]:
numbers = list(range(2, 11, 2))

print(numbers)

[2, 4, 6, 8, 10]

> We can also add step sizes to a list by including a third number at the end. This is how many jumps python will make each time.

In [38]:
squared_numbers = []

for num in range(1, 11):
#     for each number in the range of 1 to 11
    squared = num ** 2
#     each number is multiplied to the power of 2 then assinged to squared
    squared_numbers.append(squared)
#     the variable squared is appeneded to the empty list squared_numbers
    
print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [41]:
squared_numbers = []

for num in range(1, 11):
    squared_numbers.append(num**2)
# This line does the same thing as lines 3 and 4 in the code above
# Instead of making a new variable squared and assinging the calculated number to that, we are doing the calculation in the append() function.

    
print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### For Loops

In [36]:
for i in "Hello":
    print (i)
print(i)

H
e
l
l
o
o

In [7]:
for i in "hello":
    print(i)
    for j in "world":
        print (j)

h
w
o
r
l
d
e
w
o
r
l
d
l
w
o
r
l
d
l
w
o
r
l
d
o
w
o
r
l
d

In [4]:
list_ = [1, 2, 3, 4, 5]

for i in list_:
    print(i)

1
2
3
4
5

In [8]:
for i in range(5):
    print(i)

0
1
2
3
4

In [9]:
for i in range(len(list_)):
    print(i)

0
1
2
3
4

In [10]:
for i in range(len(list_)):
    print(list_)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [11]:
for i in range(len(list_)):
    print(list_[i])

1
2
3
4
5

In [14]:
i = 0

while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [15]:
done = False

while not done:
    print("hi")
    done = True

hi

In [25]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in a:
    if i % 2 == 0:
        print(i)
    else:
        print("not even")

not even
2
not even
4
not even
6
not even
8
not even
10

In [16]:
2 / 2

1.0

In [17]:
3 / 2

1.5

In [18]:
4 / 2

2.0

In [19]:
4 % 2

0

In [20]:
4 % 2 == 0

True

In [22]:
5 % 2

1

In [33]:
year = 18

if year > 18:
    print("You are an adult")
elif year < 18:
    print("You are a minor")
else:
    print("You are exactly 18")

You are exactly 18

### Break allows us to stop the loop even if the condition is true

In [37]:
i = 10

while i < 18:
    if i > 15:
        #pass
        #continue
        break
        print(i)
    i = i + 1

In [1]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [2]:
x = 0 

while x < 10:
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9

# Try and Except

Try - Lets us test a block of code for errors

Except - Lets us handle and error (pass by an error if we know it is coming)

In [4]:
a = 1
b = 0

a / b

ZeroDivisionError: division by zero

In [7]:
try:
    a / b
except:
    print("pass")

pass

In [9]:
try:
    1 / "Hello"
except ZeroDivisionError:
    print("pass")

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [28]:
def golden_ratio(num1, num2):
    try:
        res = num1 / num2
    except ZeroDivisionError:
        return(0)
    except TypeError:
        print("type error accepted")
        return
    return(res)

In [22]:
result = golden_ratio(1, 2)
print(result)

0.5

In [23]:
golden_ratio(1, 0)

0

In [29]:
golden_ratio(1, "hello")

type error accepted

# Functions

In [31]:
def sum_numbers(num1, num2):
    result = num1 + num2
    return result
sum_numbers(2, 2)

4

In [32]:
num1 = 12
num2 = 3
sum_numbers()

TypeError: sum_numbers() missing 2 required positional arguments: 'num1' and 'num2'

In [33]:
def sum_numbers():
    result = num1 + num2
    return result
num1 = 12
num2 = 3
sum_numbers()

15

In [ ]:
local n = 2 
global n = 2

In [1]:
def method(x):
    print(x)


method("Hello")

Hello

In [2]:
f = method

In [3]:
f("Hello")

Hello

In [4]:
f

# Default Mathamatical Function

In [5]:
max(1, 2, 3)

3

In [7]:
sum([1, 2, 3])

6

In [28]:
sum([1, 2])

3

In [10]:
sum([1, 2, 3], 100)

106

In [19]:
abs(2.34)

2.34

In [20]:
abs(-22)

22

In [18]:
round(3.17, 1)

3.2

In [22]:
values = [False, True, True, False]

any(values)

True

In [23]:
values_2 =[False, False, False]

any(values_2)

False

In [24]:
values_3 =[False, False, True]

any(values_3)

True

# Map

In [3]:
def summing(x, y):
    return (x + y)

summing(1, 1)

2

In [13]:
for n in map(summing, [1, 2, 3], [4, 5, 6]):
    print(n)

5
7
9

# Zip

In [15]:
for x in zip([1, 2, 3], [4, 5, 6]):
    print(x)

(1, 4)
(2, 5)
(3, 6)

In [16]:
for x, y in zip([1, 2, 3], [4, 5, 6]):
    print(x, y)
    print(x + y)

1 4
5
2 5
7
3 6
9

In [17]:
for x, y in zip([1, 2, 3], "abc"):
    print(x, y)

1 a
2 b
3 c

# Filter

In [18]:
def greater_than(x):
    return(x > 5)

greater_than(4)

False

In [19]:

greater_than(6)

True

In [20]:
for n in filter(greater_than, [3, 4, 5, 6, 7]):
    print(n)

6
7

# Sorted 

The sorted function sorts the elements of a give iterable in a specific order such as ascending or decending, returning a list.

In [32]:
numbers_list = [1, 23, 4, 32, 46, 8]

sorted(numbers_list)

[1, 4, 8, 23, 32, 46]

In [34]:
numbers_list = [1, 23, 4, 32, 46, 8]

sorted(numbers_list, reverse = True)

[46, 32, 23, 8, 4, 1]

In [30]:
letters_list = ("a", "c", "d", "z", "b")

sorted(letters_list)

['a', 'b', 'c', 'd', 'z']

# Reversed

### This function returns the reversed iterator of the given sequence

In [1]:
seq = [1, 2, 3, 4, 5]
rseq = reversed(seq)
for x in rseq:
    print(x)

5
4
3
2
1

# Classes

Like Mattia said, everything in python is an "object",  a class is an object constructor, or a "blueprint" for creating objects

- A class is like an object constructor, or a blueprint for creating objects 
- To create a class we use "class():" when we create a class, we create and object
- An object is an instance of a class
- An instance is a copy of the class with actual values(data)
- The more data we have the more instances we have in the class 
- Class instances can have methods that are defined by their class for modifying their state
- Once we have made the class, set the attributes, then added a method, ensure that we give the class an object to use (this is the sticker we stick on the class) that we can call

In [26]:
class Food():
    pass

In [27]:
pasta = Food()

print(pasta)

<__main__.Food object at 0x0000022505737CA0>

In [28]:
class Food():
    def __str__(self):
        return("This is class food")
pasta = Food()
print(pasta)

This is class food

In [29]:
class Menu():
    def __init__(self, breakfast, lunch, dinner):
        self.breakfast = breakfast
        self.lunch = lunch
        self.dinner = dinner
        
    def whats_for_breakfast(self):
        return self.breakfast
friday = Menu(breakfast = "eggs", lunch = "pork", dinner = "roast dinner")
friday.whats_for_breakfast()

friday.dinner

'roast dinner'

In [30]:
saturday = Menu(breakfast = "cereals", lunch = "fish", dinner = "nothing")

saturday.whats_for_breakfast()

'cereals'

In [31]:
class Food():
    def __init__(self, protein, carbs, sugars):
        self.protein = protein
        self.carbs = carbs
        self.sugars = sugars
    
    def content(self):
        return self.protein, self.carbs, self.sugars

beef = Food(protein = 80, carbs = 15 , sugars = 5)
beef.content()

(80, 15, 5)

### Ask Mattia what the difference is between the two (TOP AND BOTTOM) ?????

In [13]:
class Food():
    def __init__(self, protein, carbs, sugars):
        self.protein = protein
        self.carbs = carbs
        self.sugars = sugars

beef = Food(protein = 80, carbs = 15 , sugars = 5)

print(beef.protein)
print(beef.carbs)
print(beef.sugars)

80
15
5

### Back to the lesson with Mattia

In [16]:
class Food():
    def __init__(self, protein, carbs, sugars):
        self.protein = protein
        self.carbs = carbs
        self.sugars = sugars
    
    def content(self):
        return self.protein, self.carbs, self.sugars

beef = Food(protein = 80, carbs = 15 , sugars = 5)
beef.content()

(80, 15, 5)

In [22]:
Meat = Food

In [23]:
beef = Meat(protein = 80, carbs = 15 , sugars = 5)

In [24]:
class Meat(Food):
    pass

In [25]:
beef.content()

(80, 15, 5)

### Self Work Classes

In [1]:
class Dog():
# Making the class
    def __init__(self, name, breed):
        self.name = name 
        self.breed = breed
# Initalise attributes name and age, this is information the class will use 
# self is automatically passed and we have self to give the induvidual instance acsess to the attributes and method 
# aka data and behaviour 

    def sit(self):
        print(f"{self.name} is now sitting")
# Simulates the dog sitting this is a behaviour of an object

    def roll_over(self):
        print(f"{self.name} is rolling over")
# Simulates the dog rolling over ~ 

my_dog = Dog("Tilda", "Labrador")

print(f"my dogs name is {my_dog.name}")
print(f"my dogs breed is {my_dog.breed}")

my dogs name is Tilda
my dogs breed is labrador

In [7]:
class Car():
# Creating a class called car

    def __init__(self, model, price):
        self.model = model
        self.price = price
# Class method, these are the variables we will need to give the method for it to work

Audi = Car("R8", 100000)
# Creating the object for the class called "Audi"
BMW = Car("X1", 90000)
# Creating another object for the class Car called "BMW"

print(Audi.model, Audi.price)
print(BMW.model, BMW.price)

R8 100000
X1 90000

### Making a class without notes

In [4]:
class Employee():
# Making a class called employee 
    address = "London" # Class attribute

    def __init__(self, first, last, wage):
        self.first = first # Instance attribute
        self.last = last 
        self.wage = wage
# giving the method its variables
# defining instance variables 
    
    def payslip(self):
        return self.first, self.last, self.wage
# Making a class method

emp_1 = Employee("Cameron", "Wheeler", "30000") # Instance of a class
emp_2 = Employee("Mattia", "Cinelli", "70000")
# Two instances and their arugments to be passed 

# print(payslip.emp_1)
# print(payslip.emp_2)

print(Employee.payslip(emp_1))
print(Employee.payslip(emp_2))
# Print class employee function payslip which will return the instance variables that we are passing when creating the instances

('Cameron', 'Wheeler', '30000')
('Mattia', 'Cinelli', '70000')

In [5]:
emp_1.payslip()
Employee.address

'London'

In [ ]:
class Food():
    def __init__(self, protein, carbs, sugars):
        self.protein = protein
        self.carbs = carbs
        self.sugars = sugars
    
    def content(self):
        return self.protein, self.carbs, self.sugars

beef = Food(protein = 80, carbs = 15 , sugars = 5)
beef.content()

### Python Inheritance 
- Inheritance allows the coder to define a class that inherits all the methods and properties included in another class
- The parent class is the class that is being inherited from
- The child class is the reciver (this is also called the derived class)