# Welcome To Cameron's Notebook
## In this book we will be running over the basics in python

In [1]:
print("Hello")

Hello

# Notes on for loops - For and While Loops

While loop will execute a set of statements as long as a condition is true or flase (whatever we set it as) 

For loop allows us to iterate over a sequence for a set amount of times

In [2]:
for i in "Hello":
    print (i)
print(i)

H
e
l
l
o
o

In [7]:
for i in "hello":
    print(i)
    for j in "world":
        print (j)

h
w
o
r
l
d
e
w
o
r
l
d
l
w
o
r
l
d
l
w
o
r
l
d
o
w
o
r
l
d

In [4]:
list_ = [1, 2, 3, 4, 5]

for i in list_:
    print(i)

1
2
3
4
5

In [8]:
for i in range(5):
    print(i)

0
1
2
3
4

In [9]:
for i in range(len(list_)):
    print(i)

0
1
2
3
4

In [10]:
for i in range(len(list_)):
    print(list_)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [11]:
for i in range(len(list_)):
    print(list_[i])

1
2
3
4
5

In [14]:
i = 0

while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [15]:
done = False

while not done:
    print("hi")
    done = True

hi

In [25]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in a:
    if i % 2 == 0:
        print(i)
    else:
        print("not even")

not even
2
not even
4
not even
6
not even
8
not even
10

In [16]:
2 / 2

1.0

In [17]:
3 / 2

1.5

In [18]:
4 / 2

2.0

In [19]:
4 % 2

0

In [20]:
4 % 2 == 0

True

In [22]:
5 % 2

1

In [33]:
year = 18

if year > 18:
    print("You are an adult")
elif year < 18:
    print("You are a minor")
else:
    print("You are exactly 18")

You are exactly 18

### Break allows us to stop the loop even if the condition is true

In [37]:
i = 10

while i < 18:
    if i > 15:
        #pass
        #continue
        break
        print(i)
    i = i + 1

In [1]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [2]:
x = 0 

while x < 10:
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9

# Try and Except

Try - Lets us test a block of code for errors

Except - Lets us handle and error (pass by an error if we know it is coming)

In [4]:
a = 1
b = 0

a / b

ZeroDivisionError: division by zero

In [7]:
try:
    a / b
except:
    print("pass")

pass

In [9]:
try:
    1 / "Hello"
except ZeroDivisionError:
    print("pass")

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [28]:
def golden_ratio(num1, num2):
    try:
        res = num1 / num2
    except ZeroDivisionError:
        return(0)
    except TypeError:
        print("type error accepted")
        return
    return(res)

In [22]:
result = golden_ratio(1, 2)
print(result)

0.5

In [23]:
golden_ratio(1, 0)

0

In [29]:
golden_ratio(1, "hello")

type error accepted

# Functions

In [31]:
def sum_numbers(num1, num2):
    result = num1 + num2
    return result
sum_numbers(2, 2)

4

In [32]:
num1 = 12
num2 = 3
sum_numbers()

TypeError: sum_numbers() missing 2 required positional arguments: 'num1' and 'num2'

In [33]:
def sum_numbers():
    result = num1 + num2
    return result
num1 = 12
num2 = 3
sum_numbers()

15

In [ ]:
local n = 2 
global n = 2

In [1]:
def method(x):
    print(x)


method("Hello")

Hello

In [2]:
f = method

In [3]:
f("Hello")

Hello

In [4]:
f

# Default Mathamatical Function

In [5]:
max(1, 2, 3)

3

In [7]:
sum([1, 2, 3])

6

In [28]:
sum([1, 2])

3

In [10]:
sum([1, 2, 3], 100)

106

In [19]:
abs(2.34)

2.34

In [20]:
abs(-22)

22

In [18]:
round(3.17, 1)

3.2

In [22]:
values = [False, True, True, False]

any(values)

True

In [23]:
values_2 =[False, False, False]

any(values_2)

False

In [24]:
values_3 =[False, False, True]

any(values_3)

True

# Map

In [3]:
def summing(x, y):
    return (x + y)

summing(1, 1)

2

In [13]:
for n in map(summing, [1, 2, 3], [4, 5, 6]):
    print(n)

5
7
9

# Zip

In [15]:
for x in zip([1, 2, 3], [4, 5, 6]):
    print(x)

(1, 4)
(2, 5)
(3, 6)

In [16]:
for x, y in zip([1, 2, 3], [4, 5, 6]):
    print(x, y)
    print(x + y)

1 4
5
2 5
7
3 6
9

In [17]:
for x, y in zip([1, 2, 3], "abc"):
    print(x, y)

1 a
2 b
3 c

# Filter

In [18]:
def greater_than(x):
    return(x > 5)

greater_than(4)

False

In [19]:

greater_than(6)

True

In [20]:
for n in filter(greater_than, [3, 4, 5, 6, 7]):
    print(n)

6
7

# Sorted 

The sorted function sorts the elements of a give iterable in a specific order such as ascending or decending, returning a list.

In [32]:
numbers_list = [1, 23, 4, 32, 46, 8]

sorted(numbers_list)

[1, 4, 8, 23, 32, 46]

In [34]:
numbers_list = [1, 23, 4, 32, 46, 8]

sorted(numbers_list, reverse = True)

[46, 32, 23, 8, 4, 1]

In [30]:
letters_list = ("a", "c", "d", "z", "b")

sorted(letters_list)

['a', 'b', 'c', 'd', 'z']

# Reversed

### This function returns the reversed iterator of the given sequence

In [1]:
seq = [1, 2, 3, 4, 5]
rseq = reversed(seq)
for x in rseq:
    print(x)

5
4
3
2
1

# Classes

Like Mattia said, everything in python is an "object",  a class is an object constructor, or a "blueprint" for creating objects

- A class is like an object constructor, or a blueprint for creating objects 
- To create a class we use "class():" when we create a class, we create and object
- An object is an instance of a class
- An instance is a copy of the class with actual values(data)
- The more data we have the more instances we have in the class 
- Class instances can have methods that are defined by their class for modifying their state
- Once we have made the class, set the attributes, then added a method, ensure that we give the class an object to use (this is the sticker we stick on the class) that we can call

In [26]:
class Food():
    pass

In [27]:
pasta = Food()

print(pasta)

<__main__.Food object at 0x0000022505737CA0>

In [28]:
class Food():
    def __str__(self):
        return("This is class food")
pasta = Food()
print(pasta)

This is class food

In [29]:
class Menu():
    def __init__(self, breakfast, lunch, dinner):
        self.breakfast = breakfast
        self.lunch = lunch
        self.dinner = dinner
        
    def whats_for_breakfast(self):
        return self.breakfast
friday = Menu(breakfast = "eggs", lunch = "pork", dinner = "roast dinner")
friday.whats_for_breakfast()

friday.dinner

'roast dinner'

In [30]:
saturday = Menu(breakfast = "cereals", lunch = "fish", dinner = "nothing")

saturday.whats_for_breakfast()

'cereals'

In [31]:
class Food():
    def __init__(self, protein, carbs, sugars):
        self.protein = protein
        self.carbs = carbs
        self.sugars = sugars
    
    def content(self):
        return self.protein, self.carbs, self.sugars

beef = Food(protein = 80, carbs = 15 , sugars = 5)
beef.content()

(80, 15, 5)

### Ask Mattia what the difference is between the two (TOP AND BOTTOM) ?????

In [13]:
class Food():
    def __init__(self, protein, carbs, sugars):
        self.protein = protein
        self.carbs = carbs
        self.sugars = sugars

beef = Food(protein = 80, carbs = 15 , sugars = 5)

print(beef.protein)
print(beef.carbs)
print(beef.sugars)

80
15
5

### Back to the lesson with Mattia

In [16]:
class Food():
    def __init__(self, protein, carbs, sugars):
        self.protein = protein
        self.carbs = carbs
        self.sugars = sugars
    
    def content(self):
        return self.protein, self.carbs, self.sugars

beef = Food(protein = 80, carbs = 15 , sugars = 5)
beef.content()

(80, 15, 5)

In [22]:
Meat = Food

In [23]:
beef = Meat(protein = 80, carbs = 15 , sugars = 5)

In [24]:
class Meat(Food):
    pass

In [25]:
beef.content()

(80, 15, 5)

### Self Work Classes

In [3]:
class Dog():
# Making the class
    
    attr1 = "mammal"
    attr2 = "dog"
    attr3 = "pug"
# Class attributes

    def func(self):
        print("I am a", self.attr1)
        print("I am a", self.attr2)
# Class method 

Rodger = Dog()
Kevin = Dog()


# Creating an object called "Rodger"
# We are giving the class a name that we can use "we can put stickers on things"
# This means the class becomes instantated 
# Adding another object called "Kevin" to the same class Dog() another sticker, same class
# WHY DO WE CREATE THE OBJECT THOUGH?????

print(Rodger.attr1)
print(Rodger.attr2)
print(Rodger.attr3)
# Accessing and printing the class attributes
# We are using Rodger, as we said Rodger = Dog(), so 

Rodger.func()
Kevin.func()

# Accessing the class method through the object "Rodger"

mammal
dog
pug
I am a mammal
I am a dog
I am a mammal
I am a dog

In [7]:
class Car():
# Creating a class called car

    def __init__(self, model, price):
        self.model = model
        self.price = price
# Class method, these are the variables we will need to give the method for it to work

Audi = Car("R8", 100000)
# Creating the object for the class called "Audi"
BMW = Car("X1", 90000)
# Creating another object for the class Car called "BMW"

print(Audi.model, Audi.price)
print(BMW.model, BMW.price)

R8 100000
X1 90000

### Making a class without notes

In [22]:
class Employee():
# Making a class called employee 

    def __init__(self, first, last, wage):
        self.first = first 
        self.last = last 
        self.wage = wage
# giving the method its variables
# defiining instance variables 
    
    def payslip(self):
        return self.first, self.last, self.wage
# Making a class method

emp_1 = Employee("Cameron", "Wheeler", "30000")
emp_2 = Employee("Mattia", "Cinelli", "70000")
# Two instances and their arugments to be passed 

# print(payslip.emp_1)
# print(payslip.emp_2)

print(Employee.payslip(emp_1))
print(Employee.payslip(emp_2))
# Print class employee function payslip which will return the instance variables that we are passing when creating the instances

('Cameron', 'Wheeler', '30000')
('Mattia', 'Cinelli', '70000')

In [ ]:
class Food():
    def __init__(self, protein, carbs, sugars):
        self.protein = protein
        self.carbs = carbs
        self.sugars = sugars
    
    def content(self):
        return self.protein, self.carbs, self.sugars

beef = Food(protein = 80, carbs = 15 , sugars = 5)
beef.content()

### Python Inheritance 
- Inheritance allows the coder to define a class that inherits all the methods and properties included in another class
- The parent class is the class that is being inherited from
- The child class is the reciver (this is also called the derived class)