# Welcome To Cameron's Notebook
## In this book we will be running over the basics in python

In [1]:
print("Hello")

Hello

# Notes on for loops - For and While Loops

In [2]:
for i in "Hello":
    print (i)
print(i)

H
e
l
l
o
o

In [7]:
for i in "hello":
    print(i)
    for j in "world":
        print (j)

h
w
o
r
l
d
e
w
o
r
l
d
l
w
o
r
l
d
l
w
o
r
l
d
o
w
o
r
l
d

In [4]:
list_ = [1, 2, 3, 4, 5]

for i in list_:
    print(i)

1
2
3
4
5

In [8]:
for i in range(5):
    print(i)

0
1
2
3
4

In [9]:
for i in range(len(list_)):
    print(i)

0
1
2
3
4

In [10]:
for i in range(len(list_)):
    print(list_)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [11]:
for i in range(len(list_)):
    print(list_[i])

1
2
3
4
5

In [14]:
i = 0

while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [15]:
done = False

while not done:
    print("hi")
    done = True

hi

In [25]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in a:
    if i % 2 == 0:
        print(i)
    else:
        print("not even")

not even
2
not even
4
not even
6
not even
8
not even
10

In [16]:
2 / 2

1.0

In [17]:
3 / 2

1.5

In [18]:
4 / 2

2.0

In [19]:
4 % 2

0

In [20]:
4 % 2 == 0

True

In [22]:
5 % 2

1

In [33]:
year = 18

if year > 18:
    print("You are an adult")
elif year < 18:
    print("You are a minor")
else:
    print("You are exactly 18")

You are exactly 18

In [37]:
i = 10

while i < 18:
    if i > 15:
        #pass
        #continue
        break
        print(i)
    i = i + 1

In [1]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [2]:
x = 0 

while x < 10:
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9

# Try and Except

In [4]:
a = 1
b = 0

a / b

ZeroDivisionError: division by zero

In [7]:
try:
    a / b
except:
    print("pass")

pass

In [9]:
try:
    1 / "Hello"
except ZeroDivisionError:
    print("pass")

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [28]:
def golden_ratio(num1, num2):
    try:
        res = num1 / num2
    except ZeroDivisionError:
        return(0)
    except TypeError:
        print("type error accepted")
        return
    return(res)

In [22]:
result = golden_ratio(1, 2)
print(result)

0.5

In [23]:
golden_ratio(1, 0)

0

In [29]:
golden_ratio(1, "hello")

type error accepted

# Functions

In [31]:
def sum_numbers(num1, num2):
    result = num1 + num2
    return result
sum_numbers(2, 2)

4

In [32]:
num1 = 12
num2 = 3
sum_numbers()

TypeError: sum_numbers() missing 2 required positional arguments: 'num1' and 'num2'

In [33]:
def sum_numbers():
    result = num1 + num2
    return result
num1 = 12
num2 = 3
sum_numbers()

15

In [ ]:
local n = 2 
global n = 2

# Map, Filter and Zip