In [3]:
computer_companies = ["Apple", "Microsoft", "Dell", "Razer"]

print(computer_companies)
print(computer_companies[0])
print(computer_companies[1])
print(computer_companies[3])

['Apple', 'Microsoft', 'Dell', 'Razer']
Apple
Microsoft
Razer

In [2]:
computer_companies = ["Apple", "Microsoft", "Dell", "Razer", "Nvidia"]

computer_companies[0].lower
print(computer_companies[0].title())
print(computer_companies[-1])

Apple
Nvidia

> We can put anything in a list, not just numbers. We can print a whole list, but this isnt what we want to show the user. We can also print specific elements in the list. REMEBER it starts with 0. The position in a list in which an element is in is called and index.

> We can edit elements using the lower and title methods like we used before

> [-1] means the last element in the list, this is a special python syntax for acessing the last element in the list, this also works for [-2] and [-3] and so on. This is really helpful when acessing the last element in a list when we don't know how long the list will be.

In [4]:
computer_companies = ["Apple", "Microsoft", "Dell", "Razer", "Nvidia"]

message = (f'My first laptop from was {computer_companies[0]}.')

print(message)

My first laptop from was Apple.

> We can use f strings with elements in a list just like we would any variable

### Tasks

In [5]:
friends = "Charlie", "Ben", "Tom", "Angus"

print(friends[0])
print(friends[1])
print(friends[2])
print(friends[3])

Charlie
Ben
Tom
Angus

In [6]:
friends = "Charlie", "Ben", "Tom", "Angus"

message = (f'Hello {friends[0]} this is my coding exercise and I am writing a message to you.')

print(message)

Hello Charlie this is my coding exercise and I am writing a message to you.

In [8]:
computer_companies = ["Apple", "Microsoft", "Dell", "Razer", "Nvidia"]

what_to_buy = (f'I am looking to buy a new laptop, after some research I have decided I want a {computer_companies[0]} laptop because it will work the best for me.')

print(what_to_buy)

I am looking to buy a new laptop, after some research I have decided I want a Apple laptop because it will work the best for me.

### Editing Elements In A List

In [9]:
computer_companies = ["Apple", "Microsoft", "Dell", "Razer", "Nvidia"]
print(computer_companies)

computer_companies[2] = "AMD"
print(computer_companies)

['Apple', 'Microsoft', 'Dell', 'Razer', 'Nvidia']
['Apple', 'Microsoft', 'AMD', 'Razer', 'Nvidia']

> Here we are assigning AMD over Dell as the 3rd element in the list, remeber that a list starts with 0.

In [10]:
computer_companies = []

computer_companies.append("Apple")
computer_companies.append("Dell")
computer_companies.append("AMD")

print(computer_companies)

['Apple', 'Dell', 'AMD']

> We can append things to an empty list as well

In [11]:
computer_companies = ["Apple", "Microsoft", "Dell", "Razer", "Nvidia"]

computer_companies.insert(0, "AMD")

print(computer_companies)

['AMD', 'Apple', 'Microsoft', 'Dell', 'Razer', 'Nvidia']

> Here we are using the 'insert' function to assign the element into a specific index in the list.

In [12]:
computer_companies = ["Apple", "Microsoft", "Dell", "Razer", "Nvidia"]

del computer_companies[1]

# Now the list will shrink so we cannot use 4 to look for nivida, we can use [-1] or 3, as the end of the list will shrink to 3. 

del computer_companies[3]

print(computer_companies)

['Apple', 'Dell', 'Razer']

> Here we are using the del statement to remove a specific element from the list when we KNOW its index in the list.  We cannot do this if we do not know where the element is placed inside the list. Once we use the del statement, we can no longer work with it anymore, if we want to remove it from a list but still be able to work with it we must use the pop() function.

In [13]:
computer_companies = ["Apple", "Microsoft", "Dell", "Razer", "Nvidia"]

popped_computers = computer_companies.pop()

print(computer_companies)
print(popped_computers)

['Apple', 'Microsoft', 'Dell', 'Razer']
Nvidia

> The pop() function removes the last element from a list, and allows us to work with it afterwards.

In [14]:
computer_companies = ["Microsoft", "Dell", "Razer", "Nvidia", "Apple"]

popped_computer_companies = (f'The first laptop I owned was an {computer_companies.pop()} laptop, I got it in 2015 but it broke so I now use an iPad.')

print(popped_computer_companies)

The first laptop I owned was an Apple laptop, I got it in 2015 but it broke so I now use an iPad.

> Note that when we use pop() it removes the item from the list and places it in the first f string we use, so we cannot repeat it, I orignially used {computer_companies.pop()} before iPad, expecting "Apple iPad" but the code returned Nvidea iPad as it had popped Nvida and stuck it there becuase Apple had been used already.

In [15]:
computer_companies = ["Apple", "Microsoft", "Dell", "Razer", "Nvidia"]

computer_companies_pop = computer_companies.pop(1)

print(computer_companies)
print(computer_companies_pop)

['Apple', 'Dell', 'Razer', 'Nvidia']
Microsoft

> We can use pop() and insert the index of the element in the list, again we must know the position, like del

In [16]:
computer_companies = ["Apple", "Microsoft", "Dell", "Razer", "Nvidia"]
gaming_laptop = "Razer"

computer_companies.remove(gaming_laptop)

print(f'I have decided to remove {gaming_laptop} from the list of choices, as they are primarily used for gaming')
print(f'Here is the list of laptops I can buy from for univeristy {computer_companies}')

I have decided to remove Razer from the list of choices, as they are primarily used for gaming
Here is the list of laptops I can buy from for univeristy ['Apple', 'Microsoft', 'Dell', 'Nvidia']

> We can use the remove() function to delete an element from the list when we don't know where it is positioned. Like pop() we can work with the element after we have removed it.

> So we have delete, pop and remove. All take items from a list, del gets rid of it, pop and remove store it for it to be used after.

### Tasks

In [20]:
dinner_invite = ["Alan", "Elon", "Dennis"]

invitation1 = (f' Hello {dinner_invite[0]} I would like to invite you to dinner.')
invitation2 = (f' Hello {dinner_invite[1]} I would like to invite you to dinner.')
invitation3 = (f' Hello {dinner_invite[2]} I would like to invite you to dinner.')

print(invitation1)
print(invitation2)
print(invitation3)

 Hello Alan I would like to invite you to dinner.
 Hello Elon I would like to invite you to dinner.
 Hello Dennis I would like to invite you to dinner.

In [19]:
dinner_invite = ["Alan", "Elon", "Dennis"]

# Elon has said he can not make it!

cannot_come = dinner_invite.pop(1)

dinner_invite.append("Steve")

# We shall invite Steve Jobs instead 

print(dinner_invite)

invitation1 = (f' Hello {dinner_invite[0]} I would like to invite you to dinner.')
invitation2 = (f' Hello {dinner_invite[1]} I would like to invite you to dinner.')
invitation3 = (f' Hello {dinner_invite[2]} I would like to invite you to dinner.')

print(invitation1)
print(invitation2)
print(invitation3)

['Alan', 'Dennis', 'Steve']
 Hello Alan I would like to invite you to dinner.
 Hello Dennis I would like to invite you to dinner.
 Hello Steve I would like to invite you to dinner.

In [18]:
dinner_invite = ["Alan", "Elon", "Dennis"]

# We have found a bigger table, so we can add more people to our invite list. 

dinner_invite.insert(0, "Tim")
# Inserting a new invite at the start of the list 

dinner_invite.insert(2, "McGowan")
dinner_invite.append("Padders")

print(dinner_invite)

invitation1 = (f' Hello {dinner_invite[0]} I would like to invite you to dinner.')
invitation2 = (f' Hello {dinner_invite[1]} I would like to invite you to dinner.')
invitation3 = (f' Hello {dinner_invite[2]} I would like to invite you to dinner.')
invitation4 = (f' Hello {dinner_invite[3]} I would like to invite you to dinner.')
invitation5 = (f' Hello {dinner_invite[4]} I would like to invite you to dinner.')
invitation6 = (f' Hello {dinner_invite[5]} I would like to invite you to dinner.')


print(invitation1)
print(invitation2)
print(invitation3)
print(invitation4)
print(invitation5)
print(invitation6)

['Tim', 'Alan', 'McGowan', 'Elon', 'Dennis', 'Padders']
 Hello Tim I would like to invite you to dinner.
 Hello Alan I would like to invite you to dinner.
 Hello McGowan I would like to invite you to dinner.
 Hello Elon I would like to invite you to dinner.
 Hello Dennis I would like to invite you to dinner.
 Hello Padders I would like to invite you to dinner.

In [17]:
dinner_invite = ['Tim', 'Alan', 'McGowan', 'Elon', 'Dennis', 'Padders']
removed_invite1 = dinner_invite.pop(1)
removed_invite2 = dinner_invite.pop(2)
removed_invite3 = dinner_invite.pop()
# No number as its the last element in the list

# We now only have space for 2, so need to remove people

print(f'Sorry {removed_invite1}, but we have run out of space, I will see you another time.')
print(f'Sorry {removed_invite2}, but we have run out of space, I will see you another time.')
print(f'Sorry {removed_invite3}, but we have run out of space, I will see you another time.')

print(f'Hello {dinner_invite[0]} see you at 8')
print(f'Hello {dinner_invite[1]} see you at 8')
print(f'Hello {dinner_invite[2]} see you at 8')


del dinner_invite[0]
del dinner_invite[0]
del dinner_invite[0]
# del is a function so there is no _ or . just a space

# Proving the list is empty
print(dinner_invite)

Sorry Alan, but we have run out of space, I will see you another time.
Sorry Elon, but we have run out of space, I will see you another time.
Sorry Padders, but we have run out of space, I will see you another time.
Hello Tim see you at 8
Hello McGowan see you at 8
Hello Dennis see you at 8
[]

### Organising A List

In [21]:
cars = ["tesla", "bmw", "audi", "ford", "dodge"]

cars.sort()

print(cars)

['audi', 'bmw', 'dodge', 'ford', 'tesla']

> Here we are using the sort() method, this allows us to sort the list alphabetically, this will be permanent so we cannot go back to the original list. Note that all the letters are in lower case.

In [22]:
cars = ["tesla", "bmw", "audi", "ford", "dodge"]

cars.sort(reverse=True)

print(cars)

['tesla', 'ford', 'dodge', 'bmw', 'audi']

> We have set reverse to be True, in the parenthesis of the function, again this is a permanent change, so we cannot go back to the list we had before.

In [23]:
cars = ["tesla", "bmw", "audi", "ford", "dodge"]

print(cars)
# Original List

print(sorted(cars))
# Using the sorted() function

print(sorted(cars, reverse=True))
# Using the reverse=True argument in the sorted function, like the sort function.

print(cars)

['tesla', 'bmw', 'audi', 'ford', 'dodge']
['audi', 'bmw', 'dodge', 'ford', 'tesla']
['tesla', 'ford', 'dodge', 'bmw', 'audi']
['tesla', 'bmw', 'audi', 'ford', 'dodge']

> Here we use the sorted() method, this method is a way of "presenting" the data of the list to the user in an organised list, but it holds the original as displayed on the code above. Sorted() also accepts the reverse=True argument in which we have the variable first, then we place the reverse arugment after, seperated by a comma.

> Note the sort() and the sorted() function are very similar, so make sure we know one is permanent, the other isn't.

In [24]:
cars = ["tesla", "bmw", "audi", "ford", "dodge"]

print(cars)

cars.reverse()
# Reversing the list, this is not alphabetical, just a switch around and in PERMANENT
print(cars)

['tesla', 'bmw', 'audi', 'ford', 'dodge']
['dodge', 'ford', 'audi', 'bmw', 'tesla']

> We are using the reverse function to swap the list round, reverse() is a permenant change, but we can always change it back by hitting it with another reverse function again.

In [25]:
cars = ["tesla", "bmw", "audi", "ford", "dodge"]

len(cars)

5

> Here the len() function allows us to find the length of the list, this is handy when looking at how much data we need to manage and visualise, or figuring out the number of users on a website

### Tasks

In [26]:
places_to_visit = ["switzerland", "usa", "canada", "australia", "japan"]

print(places_to_visit)
# Printing original list

print(sorted(places_to_visit))
# Displaying the list alphabetically

print(sorted(places_to_visit, reverse=True))
# Reversing the display of the list 

print(places_to_visit)
# Showing the original order of the list is still intact

places_to_visit.reverse()
print(places_to_visit)
# Reversing the list, altering it permenantly

places_to_visit.reverse()
print(places_to_visit)
# Swapping the list back to the original order

places_to_visit.sort()
print(places_to_visit)
# Using the sort function to change the order of the list

places_to_visit.sort(reverse=True)
print(places_to_visit)
# Reversing argument on the sort function

['switzerland', 'usa', 'canada', 'australia', 'japan']
['australia', 'canada', 'japan', 'switzerland', 'usa']
['usa', 'switzerland', 'japan', 'canada', 'australia']
['switzerland', 'usa', 'canada', 'australia', 'japan']
['japan', 'australia', 'canada', 'usa', 'switzerland']
['switzerland', 'usa', 'canada', 'australia', 'japan']
['australia', 'canada', 'japan', 'switzerland', 'usa']
['usa', 'switzerland', 'japan', 'canada', 'australia']

In [27]:
dinner_invite = ['Tim', 'Alan', 'McGowan', 'Elon', 'Dennis', 'Padders']

len(dinner_invite)
# Getting the length of the list

6

In [28]:
tech_companies = ["apple", "dell", "razor", "hp", "microsoft", "google", "philips"]

print(len(tech_companies))
# Length of the list

print(tech_companies)
# Original List

print(sorted(tech_companies))
print(sorted(tech_companies, reverse=True))
# Sorted() function, and Sorted(reverse)
print(tech_companies)
# Proof of original list 

tech_companies.reverse()
print(tech_companies)
tech_companies.reverse()
print(tech_companies)
# Reversing actual list, then reverting it back to original 

tech_companies.sort()
print(tech_companies)
# Sorting original list

7
['apple', 'dell', 'razor', 'hp', 'microsoft', 'google', 'philips']
['apple', 'dell', 'google', 'hp', 'microsoft', 'philips', 'razor']
['razor', 'philips', 'microsoft', 'hp', 'google', 'dell', 'apple']
['apple', 'dell', 'razor', 'hp', 'microsoft', 'google', 'philips']
['philips', 'google', 'microsoft', 'hp', 'razor', 'dell', 'apple']
['apple', 'dell', 'razor', 'hp', 'microsoft', 'google', 'philips']
['apple', 'dell', 'google', 'hp', 'microsoft', 'philips', 'razor']

### Take Aways

- Lists can be altered using several functions 
- Sort() function alters permenantly 
- Reverse() function alters permenatly 
- Sorted() is a display to the user and doesnt alter the original list 
- Sorted() also can accept the reverse arugment, again it does not alter the original list
- Len() shows us the length of the list where we are storing information

### Avoiding Errors While Working With Lists

In [29]:
computer_companies = ["Apple", "Microsoft", "Dell", "Razer", "Nvidia"]

print(computer_companies[5])

IndexError: list index out of range

> One of the most common errors when working with lists in and "index error", this is when we ask Python to find an index in a list that it not there. In the example above, we have asked Python to look for index 5, but there is no index 5. This is an "off by one error" that the book has been talking about. 

> If we run into Index errors we cannot seem the fix, try printing the list off, it might look different to what we think it looks like.

In [30]:
computer_companies = ["Apple", "Microsoft", "Dell", "Razer", "Nvidia"]

print(computer_companies[-1])

Nvidia

> Instead we can use "[-1]" to acess the last element in the list no matter what size it is.

### Take Aways

- Index errors often occur with lists 
- It is ususally because of the "off by one" rule 
- When we can't fix it, try printing the list off, as we might not know our list like we think we do

### Working With Lists 

### For Loops

In [31]:
tech_companies = ["apple", "dell", "razor", "hp", "microsoft", "google", "philips"]

for company in tech_companies:
    print(company)

apple
dell
razor
hp
microsoft
google
philips

> For each of the element in the list, python runs through the list and for every company, it enters the loop and prints off the company

tech_companies = ["apple", "dell", "razor", "hp", "windows", "google", "philips"]

for company in tech_companies:
This tells python to go into the list tech_companies and assign the first element to the variable company, python then reads the next line.

print(company)
This tells pythong to print the variable assigned to company, on the first run this will be "apple"
Python, then goes into the list again and gets the second element "dell", and assigns that to the variable company then executes the line print(company)

when all the elements in the list have been printed, python has gone back and checked to see if there is another element, it finds nothing so it will move onto the next line of code. Since there is nothing after this code, the cell will terminate

In [32]:
tech_companies = ["apple", "dell", "razor", "hp"]

for company in tech_companies:
    print(f'{company.title()} is a tech company that makes many products')
    print(f' I look forward to seeing where {company.title()} takes their products \n')

Apple is a tech company that makes many products
 I look forward to seeing where Apple takes their products

Dell is a tech company that makes many products
 I look forward to seeing where Dell takes their products

Razor is a tech company that makes many products
 I look forward to seeing where Razor takes their products

Hp is a tech company that makes many products
 I look forward to seeing where Hp takes their products

> Every indent after the for loop will be run once each loop. It is also worth noting the inclusion of (\n) to create new lines in the code

### REMEBER if our code is not working out like we want it to, ensure we have : or () in the correct places. A common error of mine is that I forget to add : or () which means the code usually bugs.

In [33]:
tech_companies = ["apple", "dell", "razor", "hp"]

for company in tech_companies:
    print(f'{company.title()} is a tech company that makes many products')
    print(f' I look forward to seeing where {company.title()} takes their products \n')
    
print("Although it must be said, I am most excited for Apple's products the most")

Apple is a tech company that makes many products
 I look forward to seeing where Apple takes their products

Dell is a tech company that makes many products
 I look forward to seeing where Dell takes their products

Razor is a tech company that makes many products
 I look forward to seeing where Razor takes their products

Hp is a tech company that makes many products
 I look forward to seeing where Hp takes their products

Although it must be said, I am most excited for Apple's products the most

> Once the for loop is finishing running, it runs the next line of code which is usually a summarization of the code we have been running. This will only be printed or used once as it is outside the for loop (look at the indentation in the code cell)

### Avoiding Indentation Errors

In [34]:
tech_companies = "apple", "dell", "microsoft"

for company in tech_companies:
print(company)

IndentationError: expected an indented block after 'for' statement on line 3 (4159255110.py, line 4)

> Python is expecting an indentation, when it doesn't get one it will throw an indendation error.

In [35]:
tech_companies = "apple", "dell", "microsoft"

for company in tech_companies:
    print(f'{company.title()} makes some good products')
print(f'I think I am going to buy a product from {company.title()}')

Apple makes some good products
Dell makes some good products
Microsoft makes some good products
I think I am going to buy a product from Microsoft

> Sometimes the code will run, but not in the way we want it to. This code isn't running the way we want it to because the second line is not indented. So it is only run once with the varible comopany which at that time will be Microsoft. This is called an "logical error", meaning our code isn't running the way we want it too, but it's not throwing an error. When our code is not running in a way we want it too, but it's still running, it's worth checking if all our indentations are correct.

Here is the code running correctly

In [36]:
tech_companies = "apple", "dell", "microsoft"

for company in tech_companies:
    print(f'{company.title()} makes some good products')
    print(f'I think I am going to buy a product from {company.title()}\n')

Apple makes some good products
I think I am going to buy a product from Apple

Dell makes some good products
I think I am going to buy a product from Dell

Microsoft makes some good products
I think I am going to buy a product from Microsoft

In [37]:
fav_company = "Apple"
    print(fav_company)

IndentationError: unexpected indent (3009684490.py, line 2)

> Here python isn't expecting an indentation but we have given it one. So we get another indentation error with unexpected indent.

In [38]:
tech_companies = "apple", "dell", "microsoft"

for company in tech_companies:
    print(f'{company.title()} makes some good products')
    print(f'I think I am going to buy a product from {company.title()}\n')


    
    print('This is proof that an indentation is causing this text to be printed')

Apple makes some good products
I think I am going to buy a product from Apple

This is proof that an indentation is causing this text to be printed
Dell makes some good products
I think I am going to buy a product from Dell

This is proof that an indentation is causing this text to be printed
Microsoft makes some good products
I think I am going to buy a product from Microsoft

This is proof that an indentation is causing this text to be printed

> Here we have an indentation where it's not meant to be, but it throws a logical error so the code runs, just not like we want it to.........

In [39]:
tech_companies = "apple", "dell", "microsoft"

for company in tech_companies
    print(f'{company.title()} makes some good products')
    print(f'I think I am going to buy a product from {company.title()}\n')

SyntaxError: expected ':' (2526624363.py, line 3)

> Here we have FORGOTTEN THE COLON at the end of the for loop command. This will result in a syntax error as python won't know what to do when it's running through the code.

## Tasks

In [40]:
best_pizza_toppings = "extra cheese", "pepperoni", "bbq"

for topping in best_pizza_toppings:
    print(topping)

extra cheese
pepperoni
bbq

In [41]:
best_pizza_toppings = "extra cheese", "pepperoni", "bbq"

for topping in best_pizza_toppings:
    print(f'I really like to eat {topping} pizza.\n')

I really like to eat extra cheese pizza.

I really like to eat pepperoni pizza.

I really like to eat bbq pizza.

In [42]:
best_pizza_toppings = "extra cheese", "pepperoni", "bbq"

for topping in best_pizza_toppings:
    print(f'I really like to eat {topping} pizza.\n')

print("I really like all of these types of pizza!")

I really like to eat extra cheese pizza.

I really like to eat pepperoni pizza.

I really like to eat bbq pizza.

I really like all of these types of pizza!

In [43]:
pets = "dogs", "cats", "fish"

for pet in pets:
    print(pet)

dogs
cats
fish

In [44]:
pets = "dogs", "cats", "fish"

for pet in pets:
    print(f'{pet.title()} can make great pets.')

Dogs can make great pets.
Cats can make great pets.
Fish can make great pets.

In [45]:
pets = "dogs", "cats", "fish"

for pet in pets:
    print(f'{pet.title()} can make great pets. \n')

print("Any of these animals will make great pets!")

Dogs can make great pets.

Cats can make great pets.

Fish can make great pets.

Any of these animals will make great pets!

### Numerical Lists

In [46]:
for num in range(1, 5):
    print(num)

1
2
3
4

> The "range" function allows us to generate a series of numbers. It outputs 1 to 4 as it will run the list up until it hits the last number in the list then it will stop. For the list to include 5, the range() would have to be range(1, 6)

In [47]:
numbers = list(range(1, 6))

print(numbers)

[1, 2, 3, 4, 5]

> If we want to make a list with a range on numbers included in the list, we can wrap a "list()" function around a "range()" function.

In [48]:
numbers = list(range(2, 11, 2))

print(numbers)

[2, 4, 6, 8, 10]

> We can also add step sizes to a list by including a third number at the end. This is how many jumps python will make each time.

In [50]:
squared_numbers = []

for num in range(1, 11):
#     for each number in the range of 1 to 11
    squared = num ** 2
#     each number is multiplied to the power of 2 then assinged to squared
    squared_numbers.append(squared)
#     the variable squared is appeneded to the empty list squared_numbers
    
print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [49]:
squared_numbers = []

for num in range(1, 11):
    squared_numbers.append(num**2)
# This line does the same thing as lines 3 and 4 in the code above
# Instead of making a new variable squared and assinging the calculated number to that, we are doing the calculation in the append() function.

    
print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Basic Math With Lists

In [51]:
numbers = list(range(0, 10))

print(numbers)
print(min(numbers))
print(max(numbers))
print(sum(numbers))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
0
9
45

### List Comprehension

In [52]:
squared_numbers = [value**2 for value in range(1,10)]
# For every value in the range of 1-10 is placed into the expression value**2

print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

> List comprehension allows us to generate lines of code that would ususally take lots of lines to finish a task. When doing writing a comprehensive list we need to assign a variable which we place the expression value and a for loop that includes the range of integers we want to use.

## Tasks

In [53]:
numbers = list(range(1, 21))

print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [54]:
numbers_list = []

for number in range(1 , 21):
    print(number)
    numbers_list.append(number)

print(min(numbers_list))
print(max(numbers_list))
print(sum(numbers_list))

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
1
20
210

In [55]:
for number in range(1, 21, 2):
#     Printing off all of the odd numbers in the list one 1 to 20 
    print(number)

1
3
5
7
9
11
13
15
17
19

In [56]:
for numbers in range(3, 31, 3):
#     Printing a list of all the multiples of 3 using a for loop.
    print(numbers)

3
6
9
12
15
18
21
24
27
30

In [57]:
normal_numbers = list(range(1,11))

cubed_numbers = []

for number in normal_numbers:
    cubed = number**3
    cubed_numbers.append(cubed)

print(cubed_numbers)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [58]:
cubed_numbers = [number**3 for number in range(1, 11)]
# Making a comprehensive list, cubing the numbers in a range of 1-10 and assigning the list of numbers to the variable cubed_numbers

print(cubed_numbers)
print(cubed_numbers[2])

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
27

### Slicing A List

In [ ]:
computer_companies = "Apple", "Microsoft", "Dell", "Hp", "AMD", "Nvidia"

print(computer_companies[0:3])
print(computer_companies[2:4])
print(computer_companies[2:6])

> Here we are we slicing the list to make a sublist, we do this using the : not a ,

In [60]:
computer_companies = "Apple", "Microsoft", "Dell", "Hp", "AMD", "Nvidia"

print(computer_companies[:3])
print(computer_companies[2:])
print(computer_companies[-3:])

('Apple', 'Microsoft', 'Dell')
('Dell', 'Hp', 'AMD', 'Nvidia')
('Hp', 'AMD', 'Nvidia')

> If we leave out the first number, Python will start with the start of the list. It also works the same way in reverse, if we include the first number then : but no second number Python wil go all the way to the end. We can also use the -x syntax so we can print the last few numbers in a list, no matter how long the list is.

In [61]:
computer_companies = "Apple", "Microsoft", "Dell", "Hp", "AMD", "Nvidia"

print(computer_companies[0:5:2])

('Apple', 'Dell', 'AMD')

> Just like when making lists, if we include a third number, this will tell Python how many numbers to skip each time.

## Tasks

In [62]:
computer_companies = "Apple", "Microsoft", "Dell", "Hp", "AMD", "Nvidia"

print("The first 3 companies in the list of tech companies are")
print(computer_companies[:3])

print("The middle 3 companies in the list of tech companies are")
print(computer_companies[2:5])

print("The last 3 companies in teh list of tech companeis are")
print(computer_companies[-3:])

The first 3 companies in the list of tech companies are
('Apple', 'Microsoft', 'Dell')
The middle 3 companies in the list of tech companies are
('Dell', 'Hp', 'AMD')
The last 3 companies in teh list of tech companeis are
('Hp', 'AMD', 'Nvidia')

In [63]:
my_pizzas = ["bbq", "pepperoni", "ham"]
my_friends_pizzas =my_pizzas[:]

print(my_pizzas)
print(my_friends_pizzas)

my_pizzas.append("vege")
my_friends_pizzas.append("vegan")

print("These two lists are seperate lists")
print(my_pizzas)
print(my_friends_pizzas)

['bbq', 'pepperoni', 'ham']
['bbq', 'pepperoni', 'ham']
These two lists are seperate lists
['bbq', 'pepperoni', 'ham', 'vege']
['bbq', 'pepperoni', 'ham', 'vegan']

In [64]:
my_pizzas = ["bbq", "pepperoni", "ham"]
my_friends_pizzas =my_pizzas[:]

print(my_pizzas)
print(my_friends_pizzas)

my_pizzas.append("vege")
my_friends_pizzas.append("vegan")

print("These two lists are seperate lists")
for pizza in my_pizzas:
    print(f'I really like this kinda {pizza}')

for pizza in my_friends_pizzas:
    print(f'My friend really likes this kind of pizza {pizza}')

['bbq', 'pepperoni', 'ham']
['bbq', 'pepperoni', 'ham']
These two lists are seperate lists
I really like this kinda bbq
I really like this kinda pepperoni
I really like this kinda ham
I really like this kinda vege
My friend really likes this kind of pizza bbq
My friend really likes this kind of pizza pepperoni
My friend really likes this kind of pizza ham
My friend really likes this kind of pizza vegan

In [66]:
computer_companies = "Apple", "Microsoft", "Dell", "Hp", "AMD", "Nvidia"

for company in computer_companies:
    print(f'I might buy a product from {company} becuase they sell cool tech')

I might buy a product from Apple becuase they sell cool tech
I might buy a product from Microsoft becuase they sell cool tech
I might buy a product from Dell becuase they sell cool tech
I might buy a product from Hp becuase they sell cool tech
I might buy a product from AMD becuase they sell cool tech
I might buy a product from Nvidia becuase they sell cool tech

### Take Aways

- List comprehension allows us to write code that would ususally take lots of line in a short line. 
- Python can do simple maths in the list with min, max and sum.
- We can print elemets off in a list, if we want to print every other element or a pattern we add a 3rd integer to tell python how many it should skip.
- We can slice a list with [:], when we do this it makes a seperate entity so we can use this to copy the list or make a smaller list that we need to use. 
- For loops allow us to use the elements to print off a sentence for each element.

### Tuples

Lists work well when we are wanting to change what we store throughout a program running. However if we want the list to remain the same, we use tuples. Python refers to unchangable values as immutable, and an immutable list is called a TUPLE.

In [67]:
dimensions = (200, 50)
# Printing the dimensions of a rectangle.
print(dimensions[0])
print(dimensions[1])

200
50

In [68]:
dimensions = (200, 50)

dimensions[0] = 250

TypeError: 'tuple' object does not support item assignment

> Here we can see that we are trying to change a value in the tuple, but python throws a 'TypeError' as tuples cannt be changed, it is also worth noting that what defines the tuple is actually the comma, not the curvy brackets. So a single element tuple will be (3,) becuase we have to include the comma.

In [69]:
dimensions = (200, 50)

for dimension in dimensions:
    print(dimension)

200
50

> We can also use a for loop to loop through tuples, just like we can a list.

In [70]:
dimensions = (200, 50)
print("\nThis is the original set of dimensions.")
for dimension in dimensions:
    print(dimension)

dimensions = (400, 100)
print("\nThese are the modified dimensions.")
for dimension in dimensions:
    print(dimension)

This is the original set of dimensions.
200
50

These are the modified dimensions.
400
100

> Although we cannot assign new variables to a tuple, we can just redefine/write over a tuple with new values. The code above shows us how to do it using the dimensional values above.

### Tasks

In [71]:
menu = ("Pasta", "Bolognase", "Eggs", "Chips", "Pizza")

for items in menu:
    print(items)

Pasta
Bolognase
Eggs
Chips
Pizza

In [72]:
menu = ("Pasta", "Bolognase", "Eggs", "Chips", "Pizza")

menu[1] = "Pasta bake sauce"

TypeError: 'tuple' object does not support item assignment

In [73]:
menu = ("Pasta", "Bolognase", "Eggs", "Chips", "Pizza")

print("\nOriginal Menu")
for items in menu:
    print(items)
    
menu = ("Pasta", "Pasta bake sauce", "Chips", "Fish", "Pizza")
print("\nUpdated Menu")
for items in menu:
    print(items)

Original Menu
Pasta
Bolognase
Eggs
Chips
Pizza

Updated Menu
Pasta
Pasta bake sauce
Chips
Fish
Pizza