# Chapter 1 - Importing Pandas and Reading Data

In [25]:
import pandas as pd

In [20]:
# Reading in the data from the csv file containing the stack overflow data 
df = pd.read_csv('data/survey_results_public.csv')

# printing the df out
df
# By default jupyter will concat some of the data just so we can see what it looks like

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83434,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83435,83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,...,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,...,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [26]:
# This allows us to see the shape of the dataframe, we have 83 thousand rows and 48 columns
df.shape

(83439, 48)

In [16]:
# This gives us more detail on the data, info() is a method so we need to have the ()
# df.info() <-- just uncheck this and run the code!

# Objects are most of the time strings, int64 is an interger and float is a float.

In [19]:
# Setting the option to display all of the df columns
pd.set_option('display.max_columns', 20) # <-- just uncheck this and run the code!

In [24]:
# How can we only see a certain number of rows?
# .head() allows us to see a certain amount of rows that we pass into the ()
# if we want to see the last rows we use '.tail()' instead !
df.head(5)
# df.tail(5)

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN

# Chapter 2 - DataFrames and Series Basics

Below is very similar code as what you see above, however I have removed some of the code that was cool to learn but not 100% needed to make the start of this chapter a bit cleaner.

In [29]:
df = pd.read_csv('data/survey_results_public.csv')
schema_df = pd.read_csv('data/survey_results_schema.csv')

In [31]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [33]:
df.head()

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,"Developer, front-end",100 to 499 employees,EUR European Euro,NaN,Monthly,JavaScript;TypeScript,JavaScript;TypeScript,NaN,NaN,NaN,NaN,Angular;jQuery,Angular;jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,Neutral,No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",GBP\tPound sterling,NaN,NaN,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,NaN,NaN,Flask,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN

In [34]:
schema_df

,qid,qname,question,force_resp,type,selector
0,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
1,QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
2,QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
3,QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
4,QID24,Employment,Which of the following best describes your cur...,False,MC,MAVR
5,QID6,Country,"Where do you live? <span style=""font-weight: b...",True,MC,DL
6,QID7,US_State,<p>In which state or territory of the USA do y...,False,MC,DL
7,QID9,UK_Country,In which part of the United Kingdom do you liv...,False,MC,DL
8,QID190,S2,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
9,QID25,EdLevel,Which of the following best describes the high...,False,MC,SAVR
10,QID149,Age1stCode,At what age did you write your first line of c...,False,MC,MAVR
11,QID276,LearnCode,How did you learn to code? Select all that apply.,False,MC,MAVR
12,QID32,YearsCode,"Including any education, how many years have y...",False,MC,DL
13,QID34,YearsCodePro,"NOT including education, how many years have y...",False,MC,DL
14,QID31,DevType,Which of the following describes your current ...,False,MC,MAVR
15,QID29,OrgSize,Approximately how many people are employed by ...,False,MC,MAVR
16,QID50,Currency,Which currency do you use day-to-day? If your ...,True,MC,SB
17,QID51,CompTotal,What is your current total compensation (salar...,False,TE,SL
18,QID52,CompFreq,"Is that compensation weekly, monthly, or yearly?",False,MC,MAVR
19,QID61,S3,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
20,QID233,Language,"Which <b>programming, scripting, and markup la...",False,Matrix,Likert
21,QID262,Database,Which <b>database environments </b>have you do...,False,Matrix,Likert
22,QID263,Platform,Which <b>cloud platforms</b> have you done ext...,False,Matrix,Likert
23,QID264,Webframe,Which <strong>web frameworks </strong><span st...,False,Matrix,Likert
24,QID265,MiscTech,Which <b>other frameworks and libraries</b> ha...,False,Matrix,Likert
25,QID275,ToolsTech,Which <strong>tools</strong> have you done ext...,False,Matrix,Likert
26,QID274,NEWCollabTools,Which <strong>development environments</strong...,False,Matrix,Likert
27,QID71,OpSys,What is the primary operating system in which ...,False,MC,SAVR
28,QID243,NEWStuck,What do you do when you get stuck on a problem...,False,MC,MAVR
29,QID91,S4,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
30,QID266,NEWSOSites,Which of the following Stack Overflow sites ha...,False,MC,MAVR
31,QID100,SOVisitFreq,How frequently would you say you visit Stack O...,False,MC,MAVR
32,QID101,SOAccount,Do you have a Stack Overflow account?,False,MC,MAVR
33,QID102,SOPartFreq,How frequently would you say you participate i...,False,MC,MAVR
34,QID106,SOComm,Do you consider yourself a member of the Stack...,False,MC,MAVR
35,QID267,NEWOtherComms,Are you a member of any other online developer...,False,MC,MAVR
36,QID268,NEWOtherCommsNames,Please name up to 5 other online developer com...,False,Matrix,Likert
37,QID121,S5,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
38,QID127,Age,What is your age?,False,MC,MAVR
39,QID122,Gender,"Which of the following describe you, if any? P...",False,MC,MAVR
40,QID153,Trans,Do you identify as transgender?,False,MC,MAVR
41,QID136,Sexuality,"Which of the following describe you, if any? P...",False,MC,MAVR
42,QID126,Ethnicity,"Which of the following describe you, if any? P...",False,MC,MAVR
43,QID124,Accessibility,"Which of the following describe you, if any? P...",False,MC,MAVR
44,QID125,MentalHealth,"Which of the following describe you, if any? P...",False,MC,MAVR
45,QID131,S6,"<span style=""font-size:22px;""><strong>Final Qu...",False,DB,TB
46,QID132,SurveyLength,How do you feel about the length of the survey...,False,MC,MAVR
47,QID133,SurveyEase,How easy or difficult was this survey to compl...,False,MC,MAVR

### Dictionaries and DataFrames

In [38]:
person = {
    "first": "Cameron",
    "last": "Wheeler", 
    "email": "Cameron@email.com"
}

When storing data, we know of using dictionaires, above is the data for a single person. But what about multiple? The way to think about pandas is the make every value in the dictioanry a list!!!!

In [39]:
person = {
    "first": ["Cameron"],
    "last": ["Wheeler"], 
    "email": ["Cameron@email.com"]
}

So we have a similar dictionary to the first one but we can add more first names and information, so the first value of our list will be the first person! Lets look at multiple people.

In [42]:
people = {
    "first": ["Cameron", "Charlie", "Tom"],
    "last": ["Wheeler", "McGowan", "Padley"], 
    "email": ["Cameron@email.com", "Charlie@email.com", "Tom@email.com"]
}

In this dictionary we have the keys with a each value being a list of information that correspond to a person, so if we want to get the information on Cameron we go to the first value in the list, or if we want Toms information we go to the last person on in list. The way to think about this is that the ROWS are the VALUES and the KEYS are the COLUMNS. So they key for email will be the email column and that will contain all of the email values.

In [43]:
people['email']

['Cameron@email.com', 'Charlie@email.com', 'Tom@email.com']

So we can see the values of the key emails, this is similar to how dataframes work, if we want to see the values in the dataframe we can acess the column, just like we have acessed the values of the key.

In [46]:
# Lets make a dataframe of the dictionary above
practice_df = pd.DataFrame(people)

practice_df

     first     last              email
0  Cameron  Wheeler  Cameron@email.com
1  Charlie  McGowan  Charlie@email.com
2      Tom   Padley      Tom@email.com

Here we have a dataframe of rows and columns, the numbers are called an 'index' this is a unique value for the rows of the dataframe.

Lets access a single row and column of the dataframe

In [51]:
# Getting the email column, this is returned as a 'series'
practice_df['email']

0    Cameron@email.com
1    Charlie@email.com
2        Tom@email.com
Name: email, dtype: object

In [53]:
# We might see people accessing a column like this 
practice_df.email

0    Cameron@email.com
1    Charlie@email.com
2        Tom@email.com
Name: email, dtype: object

It is better to use brackets, as a column could be named the same as something in our program that is not related to the dataframe, as well as this there might be a column in our df that is the same some of the methods that we can use on dataframes such as count. So it is better to just use brackets when working with dataframes to avoid any confusion, but it is good to know that the dot notation exists as other people could use it in projects.

In [52]:
# A series is a row of data, so a row of a single column.
# Think of a dataframe as lots of series, sort of acting as a container for a bunch of series (colums)  b
type(practice_df['email'])

pandas.core.series.Series

In [55]:
# Lets access multiple columns
# We do this by passing a list!!!! we cannot forget to pass a list as it will throw an error
practice_df[['last', 'email']]

      last              email
0  Wheeler  Cameron@email.com
1  McGowan  Charlie@email.com
2   Padley      Tom@email.com

It is also important to remember that this is not a series as is it not just a row of a column data, this is just a smaller dataframe than the original dataframe!!!!!!

In [57]:
# Lets get all of the columns in the dataframe, this returns a list of the columns in our dataframe
practice_df.columns

Index(['first', 'last', 'email'], dtype='object')

Now lets look at getting the rows of the dataframe, to do this we can use 

- loc 
- iloc

We are going to look at iloc first, this allows us to get rows by integer location

In [59]:
practice_df.iloc[0]

first              Cameron
last               Wheeler
email    Cameron@email.com
Name: 0, dtype: object

This shows us the first row of information (remeber that python starts with 0!!!), so we can get a series of the first row of data which is the first, last and email of the person in the frist row which is me!